:root {
    --primery-font:'Roboto',sans-serif;
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-color:#2196F3;
    --accent-phone-color: #FFFFFF;
    --third-text-color: #000000;
    --foth-text-color: #FFFFFF;
    --secondary-phone-color: #2F303A;
    --secondary-color: #188CE8;
    --third-phone-color: #F5F4FA;
}
.link {
    text-decoration:none;
}
.list {
    list-style:none;
}

img {
    display:block;
}
button {
    cursor:pointer;
}
body {
    font-family:var(--primery-font);
    background-color:var(--accent-phone-color);
    font-weight:400;
    font-size:14px;
    letter-spacing:0.03em;
    color:var(--primary-text-color);
}
.visually-hidden {
    position:absolute;
    white-space:nowrap;
    width:1px;
    height:1px;
    overflow:hidden;
    border:0;
    padding:0;
    clip:rect(0 0 0 0);
    clip-path:inset(50%);
    margin:-1px;
}
/*===heder===*/
.logo {
        font-family:'Raleway';
        font-weight:700;
        font-size:26px;
        line-height:1.19;
        color:var(--accent-color);
}
.logoblack {
    font-family:'Raleway';
    font-weight:700;
    font-size:26px;
    line-height:1.19;
    color:var(--third-text-color);
}
.menu-link {
        font-weight:500;
        line-height:1.14;
        letter-spacing:0.02em;
        color:var(--primary-text-color)
}
.menu-link.current:hover,
.menu-link.current:focus
 {
    color:var(--accent-color);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--primary-text-color);
}
.current {
    color:var(--accent-color);
}
.contacts {
        font-weight:500;
        line-height:1.14;
        letter-spacing:0.02em;
        color:var(--secondary-text-color)
}
.contacts:hover, 
.contacts:focus {
        color:var(--accent-color)
}
/*===hero===*/
.hero {
    background-color:var(--secondary-phone-color);
}
.hero-title {
        font-weight:900;
        font-size:44px;
        line-height:1.36;
        text-align:center;
        letter-spacing:0.06em;
        text-transform:uppercase;
        background-color:var(--secondary-phone-color);
        color:var(--accent-phone-color);
}
.hero-button {
        font-family:var(--primery-font) ;
        font-weight:700;
        font-size:16px;
        line-height:1.88;
        letter-spacing:0.06em;
        vertical-align: center;
        background-color:var(--accent-color);
        color:var(--foth-text-color);
}
.hero-button:hover,
.hero-button:focus {
        background-color:var(--secondary-color);
        color:var(--foth-text-color);
}

/*===sections===*/
/*===sectiontwo===*/
.titletwo {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--primary-text-color);
}
.paragraphtwo {
        line-height: 1.71;
        color: var(--secondary-text-color);
}
/*===sectionthree===*/
.sectionthree-list {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: var(--primary-text-color);
}
/*===sectionfour===*/
.sectionfour {
background-color: var(--third-phone-color);
}
.sectionfour-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color);
}
.workerfoto {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.name {
    font-weight:500;
    color: var(--primary-text-color);
}
.position {
    color: var(--secondary-text-color);
}
/*===footer===*/
.shryft {
    font-style: normal;
}
.logowhite {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: var(--foth-text-color);
}
.footerpos {
        line-height: 1.71;
}
.adress {
        color: var(--foth-text-color);
}
.text {
        vertical-align: Top;
        color: rgba(255, 255, 255, 0.6);
}
/*===portfolio===*/
.btn {
    font-family: var(--primery-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    background: var(--third-phone-color);
    color: var(--primary-text-color);
}
.btn:active,.btn:hover,
.btn:focus {
    background: var(--accent-color);
    color: var(--foth-text-color);
}
.names { 
    font-family: var(--primery-font);
    font-weight: 700;
    font-size: 18px;
    font-style: bold;
    line-height: 2;
    color:var(--primary-text-color);
}
.texts {
    line-height: 1.88;
    color:var(--secondary-text-color);
}


